# Tuples

Creating Tuples

In [2]:
my_tuple=(1,2,3)

print(my_tuple)
print(type(my_tuple))

(1, 2, 3)
<class 'tuple'>

In [7]:
my_tuple=(1,2+3j,"HELLO",3)

print(my_tuple)
print(type(my_tuple))

(1, (2+3j), 'HELLO', 3)
<class 'tuple'>

Nested Tuple

In [8]:
a=("data",[1,2,3],(4,5,6))
print(a)
print(type(a))

('data', [1, 2, 3], (4, 5, 6))
<class 'tuple'>

Creating a Tuple with only 1 item

In [9]:
var1=("Hello")
print(var1)
print(type(var1))

Hello
<class 'str'>

In [10]:
var1=("Hello",)
print(var1)
print(type(var1))

('Hello',)
<class 'tuple'>

#Tuple Constructor

In [13]:
a=tuple(("a","b","c"))
print(a)
print(type(a))

('a', 'b', 'c')
<class 'tuple'>

INDEXING

In [15]:
a=(67,34,44,23,45)
print(a[4])

45

Slicing

In [18]:
a=(67,34,44,23,45,4,5,6,7,8,9)
print(a[3:8:1])

(23, 45, 4, 5, 6)

Reverse a Tuple

In [20]:
a=(67,34,44,23,45,4,5,6,7,8,9)
print(a[::-1])

(9, 8, 7, 6, 5, 4, 45, 23, 44, 34, 67)

In [23]:
T=(1,2,3,4,5,6,7,8)
print(T[::])
print(T[3:])
print(T[:4])
print(T[-2:-5])

(1, 2, 3, 4, 5, 6, 7, 8)
(4, 5, 6, 7, 8)
(1, 2, 3, 4)
()

In [26]:
T=(1,2,3,4,5,6,7,8)
print(T*2)
print(T+T)
print(len(T))

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
8

WAP to take 5 imput from user and store in tuple

In [ ]:
c=()
i=0
while i<=5:
    b=int(input("enter value: "))
    c=c+ (b,)
    i=i+1
    print(c)